@page
@model UnitConversionModel

<h2 class="text-primary">Distance</h2>

<h2 class="text-primary">Mass</h2>

<h2 class="text-primary">Volume</h2>

<h2 class="text-primary">Temperature</h2>

<h2 class="text-primary">Time</h2>

<h2 class="text-primary">Speed</h2>

<h2 class="text-primary">Energy</h2>
