@page
@model UnitConversionModel

@foreach (var cat in Model.Types)
{
	<h2 class="text-primary">@cat.Name</h2>
	<form method="post">
		<input type="hidden" name="CategoryName" value="@cat.Name" />
		<div class="input-group mb-3">
			<input type="number" class="form-control" name="Number" placeholder="Number" step="any" style="max-width:200px;" />
			<select class="form-select" name="SelectedUnit" style="max-width:100px">
				@foreach (var unit in cat.Units)
				{
					<option value="@unit">@unit</option>
				}
			</select>
			<button class="btn btn-primary">Convert</button>
		</div>
	</form>
}


